@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

:root {
 --light-color-200: #fff;
 --light-color-600: #ccc;

 --dark-color-200: #000;
}

/* Utilities */
::-webkit-scrollbar {
 width: 6px;
 border-radius: 5px;
}

::-webkit-scrollbar-track {
 background: #ccc;
}

::-webkit-scrollbar-thumb {
 background-color: #555;
 border-radius: 5px;
}

.input-wrapper {
 position: relative;
}

.input-wrapper::after {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 2px;
 background: var(--dark-color-200);
 transform: scaleX(0);
 transform-origin: left;
 transition: 0.25s all ease;
}

.input-wrapper.focus::after {
 transform: scaleX(1);
}

.input-wrapper > input {
 z-index: 2;
}

.input-wrapper > input ~ label,
.input-wrapper > input:empty ~ label,
.input-wrapper > textarea ~ label,
.input-wrapper > textarea:empty ~ label {
 position: absolute;
 top: 50%;
 left: 0.5rem;
 transform: translate(0, -50%);
 transition: 0.35s all ease;
 padding: 3px;
 border-radius: 5px;
 cursor: pointer;
}

.input-wrapper > input:focus ~ label,
.input-wrapper > input:not(:placeholder-shown) ~ label,
.input-wrapper > textarea:focus ~ label,
.input-wrapper > textarea:not(:placeholder-shown) ~ label {
 top: 0;
 transform: translateY(-50%);
 background: var(--light-color-200);
 border: 1px solid var(--light-color-600);
 font-size: 0.75rem;
 z-index: 0;
}

input {
 outline: none;
 border: 1px solid var(--light-color-600);
 padding: 1rem;
 border-radius: 5px;
 font-family: inherit;
 width: 100%;
}

input::placeholder,
textarea::placeholder {
 opacity: 0;
}

input:focus::placeholder,
textarea:focus::placeholder {
 opacity: 1;
}

textarea {
 position: relative;
 font-family: inherit;
 width: 100%;
 height: 100%;
 resize: none;
 padding: 1rem;
 outline: none;
 border: 1px solid var(--light-color-600);
 border-radius: 5px;
}

button {
 padding: 1rem;
 background: var(--light-color-200);
 outline: none;
 border: 1px solid var(--light-color-600);
 border-radius: 10px;
 cursor: pointer;
 transition: 0.35s all ease;
 font-weight: bold;
}

button:hover {
 opacity: 0.9;
}

ul,
ol {
 list-style: none;
}

body {
 font-family: "Roboto", sans-serif;
 line-height: 1.6;
 overflow-y: hidden;
 overflow-x: hidden;
}

#root {
 background: #f4f4f4;
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 padding: 1rem;
 justify-content: space-between;
}

header {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

header nav {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

header nav .preview-button-wrapper {
 flex: 1;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

header nav .preview-button-wrapper button {
 height: 100%;
}

header nav button:hover {
 background: var(--dark-color-200);
 color: var(--light-color-200);
}

header nav .preview-button-wrapper > button.active {
 background: var(--dark-color-200);
 color: var(--light-color-200);
 pointer-events: none;
}

aside button:hover {
 background: var(--dark-color-200);
 color: var(--light-color-200);
}

#root .edit-section {
 display: grid;
 grid-template-columns: min-content 1fr;
 overflow-x: hidden;
 justify-content: center;
 align-content: start;
 align-self: start;
 max-height: calc(100vh - 2rem);
 gap: 1rem;
 padding-right: 1rem;
}

#root .edit-section aside {
 grid-column: 1 / 2;
 grid-row: 1 / 2;
 align-self: start;
 display: flex;
 align-items: start;
 justify-content: center;
}

#root .edit-section aside > button.open {
 background: var(--dark-color-200);
 color: var(--light-color-200);
}

#root .edit-section .input-section {
 grid-column: 2 / 3;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

#root .edit-section .input-section > section {
 width: 100%;
}

.accordion-wrapper {
 width: 100%;
 display: flex;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 transform: scaleY(0);
 transform-origin: top;
 transition: 0.5s all ease;
 opacity: 0;
 max-height: 0;
}

.accordion-wrapper .input-wrapper:has(input[type="checkbox"]) {
 max-width: clamp(200px, 50%, 300px);
 width: 100%;
 align-self: center;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1rem;
 background: var(--light-color-200);
 border-radius: 5px;
 border: 1px solid var(--light-color-600);
}

.accordion-wrapper .input-wrapper:has(input[type="checkbox"]) > input {
 width: 1rem;
 height: 1rem;
 border-radius: 5px;
 outline: none;
 cursor: pointer;
}

.accordion-wrapper .input-wrapper:has(input[type="checkbox"]) > label {
 position: relative;
 transform: none;
 top: initial;
 left: initial;
 white-space: nowrap;
 background: transparent;
 border: none;
 order: -1;
 font-size: 13px;
 padding: 0;
}

.accordion-wrapper .input-action {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.accordion-wrapper .input-action i {
 color: red;
}

footer {
 grid-area: footer;
}
