*,
*::after,
*::before {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

:root {
 --light-color-200: #fff;
 --light-color-600: #ccc;

 --dark-color-200: #000;
}

/* Utilities */
input {
 outline: none;
 border: 1px solid var(--light-color-600);
 padding: 1rem;
 border-radius: 5px;
 font-family: inherit;
 width: 100%;
}

input::placeholder {
 opacity: 0;
}

input:focus::placeholder {
 opacity: 1;
}

button {
 padding: 1rem;
 background: var(--light-color-200);
 outline: none;
 border: 1px solid var(--light-color-600);
 border-radius: 10px;
 cursor: pointer;
 transition: 0.35s all ease;
 font-weight: bold;
}

button:hover {
 opacity: 0.9;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.6;
 overflow-x: hidden;
}

#root {
 background: #f4f4f4;
 min-height: 100vh;
 display: grid;
 grid-template-areas:
  "aside header preview"
  "aside general-info preview"
  "aside education preview"
  "aside experience preview"
  "footer footer footer";
 grid-template-columns: min-content minmax(300px, 500px) 794px;
 grid-template-rows: min-content repeat(3, 1fr) 70px;
 gap: 1rem;
 padding: 1rem;
 justify-content: space-evenly;
}

header {
 grid-area: header;
 display: flex;
 align-items: flex-start;
 justify-content: center;
}

header nav {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

header nav .preview-button-wrapper {
 flex: 1;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

header nav button:hover {
 background: var(--dark-color-200);
 color: var(--light-color-200);
}

header nav .preview-button-wrapper > button.active {
 background: var(--dark-color-200);
 color: var(--light-color-200);
 pointer-events: none;
}

aside {
 display: flex;
 align-items: start;
 justify-content: center;
 grid-area: aside;
}

aside button:hover {
 background: var(--dark-color-200);
 color: var(--light-color-200);
}

#general-info {
 grid-area: general-info;
 padding: 1rem;
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

#general-info h2,
#general-info div:nth-child(3),
#general-info div:nth-child(4) {
 grid-column: 1 / -1;
}

#general-info > div > div:has(input) {
 position: relative;
}

#general-info > div > div:has(input) > input {
 z-index: 2;
}

#general-info > div > div:has(input) > label,
#general-info > div > div:has(input) > input:empty ~ label {
 position: absolute;
 top: 50%;
 left: 0.5rem;
 transform: translate(0, -50%);
 transition: 0.35s all ease;
 padding: 3px;
 border-radius: 5px;
}

#general-info > div > div:has(input) > input:focus ~ label,
#general-info > div > div:has(input) > input:not(:placeholder-shown) ~ label {
 transform: translateY(calc(-50% - 1.5rem));
 background: var(--light-color-200);
 border: 1px solid var(--light-color-600);
 font-size: 0.75rem;
 z-index: 0;
}

#general-info > div {
 padding: 0.5rem 1rem;
}

#general-info .general-section-1 {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 1rem;
}

#general-info .general-section-2 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 1rem;
}

#education {
 grid-area: education;
}

#experience {
 grid-area: experience;
}

#preview {
 grid-area: preview;
 display: flex;
 flex-direction: column;
 align-content: inherit;
 justify-content: start;
 gap: 1rem;
}

#preview .page-button-wrapper {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

#preview > div:last-child {
 background: var(--light-color-200);
 padding: 1rem;
 height: 1123px;
 box-shadow: 1px 1px 3px var(--light-color-600);
}

footer {
 grid-area: footer;
}
