#projects {
 grid-area: "projects";
}

#projects .projects {
 width: 100%;
 display: flex;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
}

#projects .projects .project-section {
 position: relative;
 width: 100%;
 display: flex;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

#projects .projects .project-section.open .accordion-wrapper {
 transform: scaleY(1);
 opacity: 1;
 max-height: min-content;
 background: var(--light-color-200);
 padding: 1.5rem 1rem;
 border-radius: 10px;
 box-shadow: 1px 1px 8px var(--light-color-600),
  -1px -1px 8px var(--light-color-600);
}
